 
   <!-- file name : footer.ejs
   Name : Rohit
   Student ID : 301315173
	Date : 28-01-2023 -->

 <script src="/jquery/dist/jquery.min.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/javascripts/app.js"></script>

</body>
</html>